<a [routerLink]="['/of']">
    of operator
</a>
<br>
<br>
<a [routerLink]="['/interval']">
    interval operator
</a>
<br>
<br>
<a [routerLink]="['/timer']">
    timer operator
</a>
<br>
<br>
<a [routerLink]="['/range']">
    range operator
</a>
<br>
<br>
<a [routerLink]="['/from']">
    from operator
</a>
<br>
<br>
<a [routerLink]="['/defer']">
    defer operator
</a>
<br>
<br>
<a [routerLink]="['/ajax']">
    ajax operator
</a>
<br>
<br>
<a [routerLink]="['/create']">
    create operator
</a>
<br>
<br>
<a [routerLink]="['/fromEvent']">
    fromEvent operator
</a>
<br>
<br>
<a [routerLink]="['/pipe-first']">
    pipe-first operator
</a>
<br>
<br>
<a [routerLink]="['/find']">
    find operator
</a>
<br>
<br>
<a [routerLink]="['/filter']">
    filter operator
</a>